<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Acorn_Squash.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,860},{190,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,24},{190,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Apple.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{230,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{230,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Bell_Pepper.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{214,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{214,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Blueberries.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{230,230}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Broccoli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{220,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{220,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Carrot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{230,230}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Celery.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{226,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{226,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Chili_Pepper.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,454},{220,222}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{220,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Eggplant.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,426},{208,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{208,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Lettuce.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1096},{210,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{210,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Mushroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{202,224}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,15},{202,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Onion.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,458},{188,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,15},{188,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Potato.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,636},{222,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{222,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Pumpkin.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,234},{218,226}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{218,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Radish.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{228,226}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{228,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Squash.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,648},{210,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,19},{210,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Strawberry.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,676},{214,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{214,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sugar_snap.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,892},{212,216}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{212,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Tomato.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,854},{218,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,31},{218,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Zucchini.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,226},{198,228}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,14},{198,228}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yumi.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,230},{226,226}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{226,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>art_group_01.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe8d2a441856b17529200ba691bc660b:1/1$</string>
            <key>textureFileName</key>
            <string>art_group_01.png</string>
        </dict>
    </dict>
</plist>
